@using MvcCv.Models.Entity
@model List<TblSosyalMedya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Sosyal Medya Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-info" data-toggle="modal" data-target="#Modal1">Yeni Sosyal Meyda Hesabı Ekle</button>
                                <br /><br />
                                <table class="table table-bordered">

                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>AD</th>
                                            <th>Link</th>
                                            <th>İcon</th>
                                            <th style="width: 110px">Sil</th>
                                            <th style="width: 110px">Düzenle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            <tr>
                                                <td>@x.ID</td>
                                                <td>@x.Ad</td>
                                                <td>@x.Link</td>
                                                <td>@x.icon</td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/SosyalMedya/SosyalMedyaSil/@x.ID">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Sil
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/SosyalMedya/SayfaGetir/@x.ID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Düzenle
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Sosyal Medya Ekleme Penceresi</h2>
                    </div>
                    <form action="/SosyalMedya/Ekle" method="post">
                        <div class="modal-body">
                            <label>Sosyal Medya İsmi</label>
                            <input type="text" name="Ad" value="" class="form-control" />
                            <label>Sosyal Medya Link</label>
                            <input type="text" name="Link" value="" class="form-control" />
                            <label>Sosyal Medya İcon</label>
                            <input type="text" name="icon" value="" class="form-control" />
                            <br/>
                            <button class="btn btn-success">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>